.x-element.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.x-element.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.x-element,
.x-element::before,
.x-element::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.x-element::before,
.x-element::after {
    --x-content: '';
}

h1.x-element,
h2.x-element,
h3.x-element,
h4.x-element,
h5.x-element,
h6.x-element {
    font-size: inherit;
    font-weight: inherit;
}

a.x-element {
    color: inherit;
    text-decoration: inherit;
}

table.x-element {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

button.x-element,
input.x-element,
optgroup.x-element,
select.x-element,
textarea.x-element {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button.x-element,
select.x-element {
    text-transform: none;
}

button.x-element,
[type='button'].x-element,
[type='reset'].x-element,
[type='submit'].x-element {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

.x-element:-moz-focusring {
    outline: auto;
}

.x-element:-moz-ui-invalid {
    box-shadow: none;
}

.x-element::-webkit-inner-spin-button,
.x-element::-webkit-outer-spin-button {
    height: auto;
}

[type='search'].x-element {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

.x-element::-webkit-search-decoration {
    -webkit-appearance: none;
}

.x-element::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

h1.x-element,
h2.x-element,
h3.x-element,
h4.x-element,
h5.x-element,
h6.x-element {
    margin: 0;
}

ul.x-element {
    list-style: none;
    margin: 0;
    padding: 0;
}

textarea.x-element {
    resize: vertical;
}

input.x-element::-moz-placeholder,
textarea.x-element::-moz-placeholder {
    opacity: 1;
    color: #9ca3af;
}

input.x-element::placeholder,
textarea.x-element::placeholder {
    opacity: 1;
    color: #9ca3af;
}

button.x-element,
[role="button"].x-element {
    cursor: pointer;
}

.x-element:disabled {
    cursor: default;
}

img.x-element,
svg.x-element {
    display: block;
    vertical-align: middle;
}

img.x-element {
    max-width: 100%;
    height: auto;
}

[hidden].x-element {
    display: none;
}

.x-element,
.x-element::before,
.x-element::after {
    --x-border-spacing-x: 0;
    --x-border-spacing-y: 0;
    --x-translate-x: 0;
    --x-translate-y: 0;
    --x-rotate: 0;
    --x-skew-x: 0;
    --x-skew-y: 0;
    --x-scale-x: 1;
    --x-scale-y: 1;
    --x-pan-x: ;
    --x-pan-y: ;
    --x-pinch-zoom: ;
    --x-scroll-snap-strictness: proximity;
    --x-gradient-from-position: ;
    --x-gradient-via-position: ;
    --x-gradient-to-position: ;
    --x-ordinal: ;
    --x-slashed-zero: ;
    --x-numeric-figure: ;
    --x-numeric-spacing: ;
    --x-numeric-fraction: ;
    --x-ring-inset: ;
    --x-ring-offset-width: 0px;
    --x-ring-offset-color: #fff;
    --x-ring-color: rgb(59 130 246 / 0.5);
    --x-ring-offset-shadow: 0 0 #0000;
    --x-ring-shadow: 0 0 #0000;
    --x-shadow: 0 0 #0000;
    --x-shadow-colored: 0 0 #0000;
    --x-blur: ;
    --x-brightness: ;
    --x-contrast: ;
    --x-grayscale: ;
    --x-hue-rotate: ;
    --x-invert: ;
    --x-saturate: ;
    --x-sepia: ;
    --x-drop-shadow: ;
    --x-backdrop-blur: ;
    --x-backdrop-brightness: ;
    --x-backdrop-contrast: ;
    --x-backdrop-grayscale: ;
    --x-backdrop-hue-rotate: ;
    --x-backdrop-invert: ;
    --x-backdrop-opacity: ;
    --x-backdrop-saturate: ;
    --x-backdrop-sepia: ;
}

.x-element::backdrop {
    --x-border-spacing-x: 0;
    --x-border-spacing-y: 0;
    --x-translate-x: 0;
    --x-translate-y: 0;
    --x-rotate: 0;
    --x-skew-x: 0;
    --x-skew-y: 0;
    --x-scale-x: 1;
    --x-scale-y: 1;
    --x-pan-x: ;
    --x-pan-y: ;
    --x-pinch-zoom: ;
    --x-scroll-snap-strictness: proximity;
    --x-gradient-from-position: ;
    --x-gradient-via-position: ;
    --x-gradient-to-position: ;
    --x-ordinal: ;
    --x-slashed-zero: ;
    --x-numeric-figure: ;
    --x-numeric-spacing: ;
    --x-numeric-fraction: ;
    --x-ring-inset: ;
    --x-ring-offset-width: 0px;
    --x-ring-offset-color: #fff;
    --x-ring-color: rgb(59 130 246 / 0.5);
    --x-ring-offset-shadow: 0 0 #0000;
    --x-ring-shadow: 0 0 #0000;
    --x-shadow: 0 0 #0000;
    --x-shadow-colored: 0 0 #0000;
    --x-blur: ;
    --x-brightness: ;
    --x-contrast: ;
    --x-grayscale: ;
    --x-hue-rotate: ;
    --x-invert: ;
    --x-saturate: ;
    --x-sepia: ;
    --x-drop-shadow: ;
    --x-backdrop-blur: ;
    --x-backdrop-brightness: ;
    --x-backdrop-contrast: ;
    --x-backdrop-grayscale: ;
    --x-backdrop-hue-rotate: ;
    --x-backdrop-invert: ;
    --x-backdrop-opacity: ;
    --x-backdrop-saturate: ;
    --x-backdrop-sepia: ;
}

.x-element.container {
    width: 100%;
}

@media (min-width: 640px) {
    .x-element.container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .x-element.container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .x-element.container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .x-element.container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .x-element.container {
        max-width: 1536px;
    }
}

.x-element.\!pointer-events-none {
    pointer-events: none !important;
}

.x-element.pointer-events-none {
    pointer-events: none;
}

.x-element.pointer-events-auto {
    pointer-events: auto;
}

.x-element.static {
    position: static;
}

.x-element.fixed {
    position: fixed;
}

.x-element.\!absolute {
    position: absolute !important;
}

.x-element.absolute {
    position: absolute;
}

.x-element.relative {
    position: relative;
}

.x-element.inset-0 {
    inset: 0px;
}

.x-element.bottom-0 {
    bottom: 0px;
}

.x-element.left-0 {
    left: 0px;
}

.x-element.z-50 {
    z-index: 50;
}

.x-element.col-span-2 {
    grid-column: span 2 / span 2;
}

.x-element.col-span-5 {
    grid-column: span 5 / span 5;
}

.x-element.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.x-element.me-auto {
    -webkit-margin-end: auto;
    margin-inline-end: auto;
}

.x-element.block {
    display: block;
}

.x-element.flex {
    display: flex;
}

.x-element.table {
    display: table;
}

.x-element.grid {
    display: grid;
}

.x-element.\!hidden {
    display: none !important;
}

.x-element.hidden {
    display: none;
}

.x-element.aspect-square {
    aspect-ratio: 1;
}

.x-element.\!h-20 {
    height: 5rem !important;
}

.x-element.\!h-screen {
    height: 100vh !important;
}

.x-element.h-16 {
    height: 4rem;
}

.x-element.h-5 {
    height: 1.25rem;
}

.x-element.h-6 {
    height: 1.5rem;
}

.x-element.h-8 {
    height: 2rem;
}

.x-element.h-\[36px\] {
    height: 36px;
}

.x-element.h-\[42px\] {
    height: 42px;
}

.x-element.h-full {
    height: 100%;
}

.x-element.max-h-\[70vh\] {
    max-height: 70vh;
}

.x-element.\!w-20 {
    width: 5rem !important;
}

.x-element.w-0 {
    width: 0px;
}

.x-element.w-12 {
    width: 3rem;
}

.x-element.w-16 {
    width: 4rem;
}

.x-element.w-20 {
    width: 5rem;
}

.x-element.w-5 {
    width: 1.25rem;
}

.x-element.w-8 {
    width: 2rem;
}

.x-element.w-\[36px\] {
    width: 36px;
}

.x-element.w-\[42px\] {
    width: 42px;
}

.x-element.w-full {
    width: 100%;
}

.x-element.w-max {
    width: -moz-max-content;
    width: max-content;
}

.x-element.min-w-full {
    min-width: 100%;
}

.x-element.max-w-\[300px\] {
    max-width: 300px;
}

.x-element.flex-1 {
    flex: 1 1 0%;
}

.x-element.translate-y-full {
    --x-translate-y: 100%;
    transform: translate(var(--x-translate-x), var(--x-translate-y)) rotate(var(--x-rotate)) skewX(var(--x-skew-x)) skewY(var(--x-skew-y)) scaleX(var(--x-scale-x)) scaleY(var(--x-scale-y));
}

.x-element.cursor-pointer {
    cursor: pointer;
}

.x-element.cursor-text {
    cursor: text;
}

.x-element.resize {
    resize: both;
}

.x-element.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.x-element.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.x-element.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.x-element.grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
}

.x-element.flex-col {
    flex-direction: column;
}

.x-element.flex-wrap {
    flex-wrap: wrap;
}

.x-element.items-center {
    align-items: center;
}

.x-element.justify-end {
    justify-content: flex-end;
}

.x-element.justify-center {
    justify-content: center;
}

.x-element.gap-1 {
    gap: 0.25rem;
}

.x-element.gap-2 {
    gap: 0.5rem;
}

.x-element.gap-4 {
    gap: 1rem;
}

.x-element.overflow-auto {
    overflow: auto;
}

.x-element.\!overflow-hidden {
    overflow: hidden !important;
}

.x-element.overflow-hidden {
    overflow: hidden;
}

.x-element.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.x-element.text-ellipsis {
    text-overflow: ellipsis;
}

.x-element.rounded-full {
    border-radius: 9999px;
}

.x-element.rounded-md {
    border-radius: 0.375rem;
}

.x-element.rounded-sm {
    border-radius: 0.125rem;
}

.x-element.border {
    border-width: 1px;
}

.x-element.border-b {
    border-bottom-width: 1px;
}

.x-element.border-t {
    border-top-width: 1px;
}

.x-element.border-\[\#d1d1d1\] {
    --x-border-opacity: 1;
    border-color: rgb(209 209 209 / var(--x-border-opacity));
}

.x-element.border-emerald-500 {
    --x-border-opacity: 1;
    border-color: rgb(16 185 129 / var(--x-border-opacity));
}

.x-element.border-red-500 {
    --x-border-opacity: 1;
    border-color: rgb(239 68 68 / var(--x-border-opacity));
}

.x-element.bg-\[\#1d1d1d\] {
    --x-bg-opacity: 1;
    background-color: rgb(29 29 29 / var(--x-bg-opacity));
}

.x-element.bg-\[\#4f504b\] {
    --x-bg-opacity: 1;
    background-color: rgb(79 80 75 / var(--x-bg-opacity));
}

.x-element.bg-\[\#66baff\] {
    --x-bg-opacity: 1;
    background-color: rgb(102 186 255 / var(--x-bg-opacity));
}

.x-element.bg-\[\#d1d1d1\] {
    --x-bg-opacity: 1;
    background-color: rgb(209 209 209 / var(--x-bg-opacity));
}

.x-element.bg-\[\#f5f5f5\] {
    --x-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--x-bg-opacity));
}

.x-element.bg-\[\#fcfcfc\] {
    --x-bg-opacity: 1;
    background-color: rgb(252 252 252 / var(--x-bg-opacity));
}

.x-element.bg-emerald-200 {
    --x-bg-opacity: 1;
    background-color: rgb(167 243 208 / var(--x-bg-opacity));
}

.x-element.bg-green-400 {
    --x-bg-opacity: 1;
    background-color: rgb(74 222 128 / var(--x-bg-opacity));
}

.x-element.bg-red-200 {
    --x-bg-opacity: 1;
    background-color: rgb(254 202 202 / var(--x-bg-opacity));
}

.x-element.bg-transparent {
    background-color: transparent;
}

.x-element.bg-opacity-40 {
    --x-bg-opacity: 0.4;
}

.x-element.bg-opacity-50 {
    --x-bg-opacity: 0.5;
}

.x-element.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.x-element.p-1 {
    padding: 0.25rem;
}

.x-element.p-2 {
    padding: 0.5rem;
}

.x-element.p-4 {
    padding: 1rem;
}

.x-element.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.x-element.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.x-element.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.x-element.text-center {
    text-align: center;
}

.x-element.text-\[\.6rem\] {
    font-size: 0.6rem;
}

.x-element.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.x-element.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.x-element.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.x-element.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.x-element.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.x-element.font-black {
    font-weight: 900;
}

.x-element.font-bold {
    font-weight: 700;
}

.x-element.font-semibold {
    font-weight: 600;
}

.x-element.uppercase {
    text-transform: uppercase;
}

.x-element.lowercase {
    text-transform: lowercase;
}

.x-element.leading-\[1\] {
    line-height: 1;
}

.x-element.text-\[\#1d1d1d\] {
    --x-text-opacity: 1;
    color: rgb(29 29 29 / var(--x-text-opacity));
}

.x-element.text-\[\#9ca3af\] {
    --x-text-opacity: 1;
    color: rgb(156 163 175 / var(--x-text-opacity));
}

.x-element.text-\[\#fcfcfc\] {
    --x-text-opacity: 1;
    color: rgb(252 252 252 / var(--x-text-opacity));
}

.x-element.text-emerald-500 {
    --x-text-opacity: 1;
    color: rgb(16 185 129 / var(--x-text-opacity));
}

.x-element.text-red-500 {
    --x-text-opacity: 1;
    color: rgb(239 68 68 / var(--x-text-opacity));
}

.x-element.opacity-0 {
    opacity: 0;
}

.x-element.opacity-40 {
    opacity: 0.4;
}

.x-element.opacity-80 {
    opacity: 0.8;
}

.x-element.shadow-sm {
    --x-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --x-shadow-colored: 0 1px 2px 0 var(--x-shadow-color);
    box-shadow: var(--x-ring-offset-shadow, 0 0 #000 0), var(--x-ring-shadow, 0 0 #000 0), var(--x-shadow);
}

.x-element.shadow-\[\#1d1d1d20\] {
    --x-shadow-color: #1d1d1d20;
    --x-shadow: var(--x-shadow-colored);
}

.x-element.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.x-element.blur {
    --x-blur: blur(8px);
    filter: var(--x-blur) var(--x-brightness) var(--x-contrast) var(--x-grayscale) var(--x-hue-rotate) var(--x-invert) var(--x-saturate) var(--x-sepia) var(--x-drop-shadow);
}

.x-element.filter {
    filter: var(--x-blur) var(--x-brightness) var(--x-contrast) var(--x-grayscale) var(--x-hue-rotate) var(--x-invert) var(--x-saturate) var(--x-sepia) var(--x-drop-shadow);
}

.x-element.backdrop-blur-sm {
    --x-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--x-backdrop-blur) var(--x-backdrop-brightness) var(--x-backdrop-contrast) var(--x-backdrop-grayscale) var(--x-backdrop-hue-rotate) var(--x-backdrop-invert) var(--x-backdrop-opacity) var(--x-backdrop-saturate) var(--x-backdrop-sepia);
    backdrop-filter: var(--x-backdrop-blur) var(--x-backdrop-brightness) var(--x-backdrop-contrast) var(--x-backdrop-grayscale) var(--x-backdrop-hue-rotate) var(--x-backdrop-invert) var(--x-backdrop-opacity) var(--x-backdrop-saturate) var(--x-backdrop-sepia);
}

.x-element.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.x-element.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.x-element.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.x-element.duration-200 {
    transition-duration: 200ms;
}

.x-element.duration-500 {
    transition-duration: 500ms;
}

.x-element.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.x-element.before\:absolute::before {
    content: var(--x-content);
    position: absolute;
}

.x-element.before\:-left-px::before {
    content: var(--x-content);
    left: -1px;
}

.x-element.before\:top-1\/2::before {
    content: var(--x-content);
    top: 50%;
}

.x-element.before\:block::before {
    content: var(--x-content);
    display: block;
}

.x-element.before\:h-6::before {
    content: var(--x-content);
    height: 1.5rem;
}

.x-element.before\:w-6::before {
    content: var(--x-content);
    width: 1.5rem;
}

.x-element.before\:-translate-y-1\/2::before {
    content: var(--x-content);
    --x-translate-y: -50%;
    transform: translate(var(--x-translate-x), var(--x-translate-y)) rotate(var(--x-rotate)) skewX(var(--x-skew-x)) skewY(var(--x-skew-y)) scaleX(var(--x-scale-x)) scaleY(var(--x-scale-y));
}

.x-element.before\:transform::before {
    content: var(--x-content);
    transform: translate(var(--x-translate-x), var(--x-translate-y)) rotate(var(--x-rotate)) skewX(var(--x-skew-x)) skewY(var(--x-skew-y)) scaleX(var(--x-scale-x)) scaleY(var(--x-scale-y));
}

.x-element.before\:rounded-full::before {
    content: var(--x-content);
    border-radius: 9999px;
}

.x-element.before\:border::before {
    content: var(--x-content);
    border-width: 1px;
}

.x-element.before\:border-\[\#d1d1d1\]::before {
    content: var(--x-content);
    --x-border-opacity: 1;
    border-color: rgb(209 209 209 / var(--x-border-opacity));
}

.x-element.before\:bg-gray-50::before {
    content: var(--x-content);
    --x-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--x-bg-opacity));
}

.x-element.before\:transition::before {
    content: var(--x-content);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.x-element.before\:duration-200::before {
    content: var(--x-content);
    transition-duration: 200ms;
}

.x-element.before\:ease-in-out::before {
    content: var(--x-content);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.x-element.before\:content-\[\'\'\]::before {
 --x-content: '';
content: var(--x-content);

}
.x-element.checked\:bg-\[\#66baff\]:checked {
    --x-bg-opacity: 1;
    background-color: rgb(102 186 255 / var(--x-bg-opacity));
}
.x-element.checked\:before\:translate-x-full:checked::before {
    content: var(--x-content);
    --x-translate-x: 100%;
    transform: translate(var(--x-translate-x), var(--x-translate-y)) rotate(var(--x-rotate)) skewX(var(--x-skew-x)) skewY(var(--x-skew-y)) scaleX(var(--x-scale-x)) scaleY(var(--x-scale-y));
}
.x-element.focus-within\:bg-\[\#d1d1d1\]:focus-within {
    --x-bg-opacity: 1;
    background-color: rgb(209 209 209 / var(--x-bg-opacity));
}
.x-element.focus-within\:bg-green-300:focus-within {
    --x-bg-opacity: 1;
    background-color: rgb(134 239 172 / var(--x-bg-opacity));
}
.x-element.focus-within\:bg-opacity-50:focus-within {
    --x-bg-opacity: 0.5;
}
.x-element.focus-within\:ps-2:focus-within {
    -webkit-padding-start: 0.5rem;
    padding-inline-start: 0.5rem;
}
.x-element.focus-within\:outline:focus-within {
    outline-style: solid;
}
.x-element.focus-within\:outline-2:focus-within {
    outline-width: 2px;
}
.x-element.focus-within\:-outline-offset-2:focus-within {
    outline-offset: -2px;
}
.x-element.focus-within\:outline-offset-2:focus-within {
    outline-offset: 2px;
}
.x-element.focus-within\:outline-offset-\[0\]:focus-within {
    outline-offset: 0;
}
.x-element.focus-within\:outline-\[\#66baff\]:focus-within {
    outline-color: #66baff;
}
.x-element.checked\:focus-within\:outline-\[\#1d1d1d\]:focus-within:checked {
    outline-color: #1d1d1d;
}
.x-element.hover\:bg-\[\#d1d1d1\]:hover {
    --x-bg-opacity: 1;
    background-color: rgb(209 209 209 / var(--x-bg-opacity));
}
.x-element.hover\:bg-green-300:hover {
    --x-bg-opacity: 1;
    background-color: rgb(134 239 172 / var(--x-bg-opacity));
}
.x-element.hover\:bg-opacity-50:hover {
    --x-bg-opacity: 0.5;
}
.x-element.hover\:bg-opacity-80:hover {
    --x-bg-opacity: 0.8;
}
.x-element.focus\:bg-opacity-80:focus {
    --x-bg-opacity: 0.8;
}
.x-element.group:hover .group-hover\:scale-150 {
    --x-scale-x: 1.5;
    --x-scale-y: 1.5;
    transform: translate(var(--x-translate-x), var(--x-translate-y)) rotate(var(--x-rotate)) skewX(var(--x-skew-x)) skewY(var(--x-skew-y)) scaleX(var(--x-scale-x)) scaleY(var(--x-scale-y));
}
.x-element.group:hover .group-hover\:opacity-100 {
    opacity: 1;
}
:is([dir="rtl"] .x-element.rtl\:rotate-180) {
    --x-rotate: 180deg;
    transform: translate(var(--x-translate-x), var(--x-translate-y)) rotate(var(--x-rotate)) skewX(var(--x-skew-x)) skewY(var(--x-skew-y)) scaleX(var(--x-scale-x)) scaleY(var(--x-scale-y));
}
:is([dir="rtl"] .x-element.rtl\:before\:-right-px)::before {
    content: var(--x-content);
    right: -1px;
}
:is([dir="rtl"] .x-element.rtl\:before\:left-auto)::before {
    content: var(--x-content);
    left: auto;
}
:is([dir="rtl"] .x-element.rtl\:checked\:before\:-translate-x-full:checked)::before {
    content: var(--x-content);
    --x-translate-x: -100%;
    transform: translate(var(--x-translate-x), var(--x-translate-y)) rotate(var(--x-rotate)) skewX(var(--x-skew-x)) skewY(var(--x-skew-y)) scaleX(var(--x-scale-x)) scaleY(var(--x-scale-y));
}
@media (min-width: 1024px) {
    .x-element.lg\:absolute {
        position: absolute;
    }
    
    .x-element.lg\:relative {
        position: relative;
    }
    
    .x-element.lg\:inset-auto {
        inset: auto;
    }
    
    .x-element.lg\:bottom-full {
        bottom: 100%;
    }
    
    .x-element.lg\:left-0 {
        left: 0px;
    }
    
    .x-element.lg\:top-full {
        top: 100%;
    }
    
    .x-element.lg\:col-span-6 {
        grid-column: span 6 / span 6;
    }
    
    .x-element.lg\:mb-1 {
        margin-bottom: 0.25rem;
    }
    
    .x-element.lg\:mt-1 {
        margin-top: 0.25rem;
    }
    
    .x-element.lg\:\!hidden {
        display: none !important;
    }
    
    .x-element.lg\:hidden {
        display: none;
    }
    
    .x-element.lg\:\!h-\[unset\] {
        height: unset !important;
    }
    
    .x-element.lg\:max-h-\[300px\] {
        max-height: 300px;
    }
    
    .x-element.lg\:w-80 {
        width: 20rem;
    }
    
    .x-element.lg\:w-full {
        width: 100%;
    }
    
    .x-element.lg\:w-max {
        width: -moz-max-content;
        width: max-content;
    }
    
    .x-element.lg\:min-w-\[20\%\] {
        min-width: 20%;
    }
    
    .x-element.lg\:min-w-\[20rem\] {
        min-width: 20rem;
    }
    
    .x-element.lg\:max-w-\[30\%\] {
        max-width: 30%;
    }
    
    .x-element.lg\:flex-none {
        flex: none;
    }
    
    .x-element.lg\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    
    .x-element.lg\:\!overflow-auto {
        overflow: auto !important;
    }
    
    .x-element.lg\:rounded-md {
        border-radius: 0.375rem;
    }
    
    .x-element.lg\:bg-transparent {
        background-color: transparent;
    }
    
    .x-element.lg\:p-0 {
        padding: 0px;
    }
    
     :is([dir="rtl"] .x-element.lg\:rtl\:left-auto) {
        left: auto;
    }
    
     :is([dir="rtl"] .x-element.lg\:rtl\:right-0) {
        right: 0px;
    }
}